:root {
  --primary: rgb(16 55 92);
  --secondary: #F9A825;
  --bg: #F5F7FA;
  --text: #212121;
  --text-light: #616161;
  --font-main: 'Essonnes', sans-serif;
}

body {
  font-family: var(--font-main);
  background-color: var(--bg);
  color: var(--text);
}

h1,
h2,
h3,h4 {
  font-weight: 700;
  color: var(--primary);
}

.card-title {
  font-size: 18px;
  font-weight: 600;
}

.card-text {
  font-size: 14px;
  color: var(--text-light);
}

ion-card {
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  /* background-color: white; */
}

.disabled-tab {
  opacity: 0.4;
  pointer-events: none;
}

.tab-bar {
  --background: cadetblue;
  --color: white;
}

.tab-selected {
  --background: white;
  color: cadetblue;
}

ion-back-button.custom-back {
  border: 2px solid rgb(0, 68, 112);
  border-radius: 50%;
  min-width: 30px;
  min-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  --padding-start:0;
  --padding-end:0;
}

.main-heading{
  border-radius: 8px;
}

.progress-container {
  width: 100%;
  height: 15px;
  background-color: #eee;
  border-radius: 6px;
  margin: 16px 0;
  overflow: hidden;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

.progress-bar {
    width: 100%;
    height: 100%;
}

.progress-bar-fill {
  height: 100%;
  background: linear-gradient(270deg, #00c6ff, #0072ff, #00c6ff);
  background-size: 600% 600%;
  animation: gradientAnimation 3s ease infinite;
  transition: width 0.4s ease-in-out;
  border-radius: 6px 0 0 6px;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}