.progress-container {
    width: 100%;
    height: 10px;
    background-color: #eee;
    border-radius: 5px;
    margin: 16px 0;
    overflow: hidden;
}

.progress-bar {
    width: 100%;
    height: 100%;
}

.progress-bar-fill {
    height: 100%;
    background-color: #28a745;
    transition: width 0.3s ease-in-out;
}

.top-handling{
  --offset-top: 0px !important;
}

.custom-file-upload {
  display: inline-block;
  padding: 6px 12px;
  background-color: transparent;
  border: 1px solid #3880ff;
  border-radius: 6px;
  color: #3880ff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  transition: background-color 0.2s, color 0.2s;
}

.custom-file-upload:hover {
  background-color: #3880ff;
  color: white;
}

.custom-file-upload input[type="file"] {
  display: none;
}